:root {
  --mainRosy: #ffccf4;
  --mainLightestGreen: #fff19f;
  --mainWhite: #f5f5f1;
  --mainDark: #0e0d0d;
  --mainOrange: #e6a147;
  --mainYellow: #a5e0e4;
  --mainGreen: #007900;
  --mainTomato: #f55252;
  --mainTransition: all 1s ease-in-out;
}

body {
  font-family: 'Fondamento', cursive;
  background: linear-gradient(to left, var(--mainYellow), var(--mainOrange), var(--mainWhite));
  color: var(--mainDark);
}

@media print {
  #noprint {
    visibility: hidden;
  }
}

#feedback {
  font-size: 1em;
}

#selectable .ui-selecting {
  background: #FECA40;
}

#selectable .ui-selected {
  background: #F39814;
  color: white;
}

#selectable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 490px;
}

.btnlist {
  margin: 1px;
  padding: 1px;
  float: left;
  width: 35px;
  height: 20px;
  font-size: 1em;
  text-align: center;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-color: var(--mainTomato);
  color: var(--mainDark);
  background: transparent;
  font-weight: bold;
  border-radius: 0.8rem;
  text-align: center;
}

.btnlist:hover {
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-color: var(--mainTomato);
  color: var(--mainTomato);
  background: transparent;
  font-weight: bold;
  border-radius: 0.8rem;
  text-align: center;
  background: var(--mainTomato);
  color: var(--mainDark);
  transition: var(--mainTomato);
}

.show-btn {
  text-align: center;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-color: var(--mainTomato);
  color: var(--mainTomato);
  background: transparent;
}

.show-btn:hover {
  cursor: pointer;
  background: var(--mainTomato);
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.terminal-card {
  text-align: center;
  display: none;
  position: relative;
  background: transparent;
  border-color: var(--mainTomato);
  border-radius: 1rem;
  border: 0.1rem solid var(--mainTomato);
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
  transition: var(--mainTransition);
}

.terminal-card:hover {
  background: var(--mainYellow);
  transition: var(--mainTransition);
}

.feedback {
  display: none;
}

.divider {
  margin-top: 1rem;
}

textarea {
  border-radius: 0.25rem;
  border-color: var(--mainTomato);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 1.5rem;
  color: var(--mainTomato);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--mainDark);
  transition: var(--mainTransition);
}

.submitBtn {
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;

}

.submitBtn:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.colorBtn {
  font-size: 0.75rem;
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;
}

.colorBtn:hover {
  background: var(--mainGreen);
  color: var(--mainDark);
}

.edit-terminalcard {
  font-size: 0.75rem;
  border: 0.1rem solid var(--mainGreen);
  color: var(--mainGreen);
  background: transparent;
}

.edit-terminalcard:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.delete-terminalcard {
  font-size: 0.75rem;
  border: 0.1rem solid var(--mainTomato);
  color: var(--mainTomato);
  background: transparent;
}

.delete-terminalcard:hover {
  background: var(--mainTomato);
  color: var(--mainWhite);
  transition: var(--mainTransition);
}

.showItem {
  display: block;
}

.card-body {
  border: 0.2rem solid var(--mainTomato);
}

.card-body:hover {
  background: var(--mainYellow);
  transition: var(--mainTransition);
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.55);
}